@model IEnumerable<MidwestHikes.Models.TrailListTrail>

@{
    ViewBag.Title = "Trails";
}

<h2>View and reccommend trails</h2>

<p>
    @Html.ActionLink("Add a Trail", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Park Name
        </th>
        <th>
            Trail Name
        </th>
        <th>
            Trail Description
        </th>
        <th>
            Options
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.TrailId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.TrailId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TrailId })
        </td>
    </tr>
}

</table>
