@model MidwestHikes.Models.ParkDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParkDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ParkId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
