@model IEnumerable<MidwestHikes.Models.ParkListPark>

@{
    ViewBag.Title = "Parks";
}

<h2>View and recommend parks</h2>

<p>
    @Html.ActionLink("Add a Park", "Create")
</p>
<table class="table">
    <tr>
        <th>
            State Name
        </th>
        <th>
            Park Name
        </th>
        <th>
            Park Description
        </th>
        <th>
            Options
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ParkId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ParkId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.ParkId })
        </td>
    </tr>
}

</table>
